.toast {
	background-color: #fff;
	color: #333;
	border: 1px solid #bae26c;
	min-width: 20rem;
	border-radius: 0px;
}

.nuke-icon {
	background-color: #38342d;
}

.number-of-records {
	min-width: 70px;
}